<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head
        th:replace="~{fragments/head :: head(
        title=${chapter.getComic().getTitle()} + ' - ' + ${chapter.getTitle()} + ' | BCuns Entertainment',
        description=${chapter.getComic().getDescription()},
        keywords=${chapter.getComic().getTitle()} + ' - ' + ${chapter.getTitle()},
        url='https://bcent.online/comics/' + ${chapter.getComic().getTitle()} + '-' + ${chapter.getComic().getId()} + '/chapter/' + ${chapter.getId()},
        image=${chapter.getComic().getThumbnails()},
        site_name=${chapter.getComic().getTitle()}
        )}"
>
    <title>Chapter</title>
</head>
<body class="scrollbar-hidden bg-slate-100 dark:bg-slate-900">
<!-- header -->
<header th:replace="~{fragments/comics/navbar :: navbar}"></header>
<!-- Content Chapter Details: Photos -->
<section class="py-4 mt-20">
    <span id="info-chapter" th:data-chapter-id="${chapter.getId()}" th:data-comic-id="${chapter.getComic().getId()}" class="hidden">Chapter info</span>
    <span id="info-comic" th:data-comic-id="${chapter.getComic().getId()}" th:text="${chapter.getComic().getTitle()}" class="hidden">Comic info</span>
    <div class="mx-auto max-w-full py-4 md:max-w-2xl lg:max-w-3xl lg:px-4">
        <div class="flex justify-center" th:each="photo: ${chapter.getPhotos()}">
            <img
                    th:src="'https://picture.bcent.online/images?src=' + ${photo.getUrl()}"
                    th:alt="${photo.getTitle()}"
                    class="w-full h-auto object-cover"
                    loading="lazy"
            >
        </div>
    </div>
</section>
<!-- comment -->
<section th:replace="~{fragments/comments :: comments}"></section>
<!-- footer -->
<footer th:replace="~{fragments/footer :: footer}"></footer>
<!-- js -->
<script th:src="@{/js/comics/chapters.js}"></script>
</body>
</html>