<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=${comic.getTitle()})}">
    <title>Details</title>
</head>
<body class="scrollbar-hidden">
<!-- header -->
<header th:replace="~{fragments/header :: header}"></header>
<!-- Content Comics Details -->
<section class="mt-20">
    <div class="mx-auto mt-6 max-w-4xl px-6 grid grid-cols-1 sm:max-w-7xl sm:grid-cols-4 sm:gap-x-8 sm:px-8">
        <!-- image -->
        <div class="aspect-w-4 aspect-h-5 sm:overflow-hidden sm:aspect-w-3 sm:aspect-h-4 rounded">
            <img
                    th:src="${comic.getThumbnails()}"
                    alt="cover"
                    class="h-96 w-full object-cover object-center rounded"
            />
        </div>
        <div class="col-span-3">
            <div class="mt-8 sm:mt-2">
                <!-- title -->
                <h1 class="text-2xl font-semibold" th:text="${comic.getTitle()}">Title</h1>
                <!-- info -->
                <div class="flex font-light mt-4">
                    <div class="mx-2 flex items-center">
                        <i class="fa-light fa-timer"></i>
                    </div>
                    <p th:text="${comic.getUpdateTimeAgo()}">{dayjs(comic.updated_at).fromNow()}</p>
                </div>
                <div class="flex font-light">
                    <div class="mx-2 flex items-center">
                        <i class="fa-light fa-calendar-plus"></i>
                    </div>
                    <p th:text="${comic.getCreateTimeAgo()}">{dayjs(comic.created_at).format('DD/MM/YYYY')}</p>
                </div>
                <div class="flex">
                    <div class="flex font-light mr-4">
                        <div class="mx-2 flex items-center">
                            <i class="fa-light fa-face-hand-peeking"></i>
                        </div>
                        <p th:text="${comic.getView()}">{numberFormat(comic.view, 1)}</p>
                    </div>
                    <div class="flex font-light mr-4">
                        <div class="mx-2 flex items-center">
                            <i class="fa-light fa-face-grin-hearts"></i>
                        </div>
                        <p th:if="${comic.getLike() != null}" th:text="${comic.getLike().size()}">like</p>
                        <p th:unless="${comic.getLike() != null}">0</p>
                    </div>
                    <div class="flex font-light mr-4">
                        <div class="mx-2 flex items-center">
                            <i class="fa-light fa-file-image"></i>
                        </div>
                        <p th:text="${comic.getCountChapter()}">{comic.chapters.length} chapter</p>
                    </div>
                </div>
                <div class="flex font-light">
                    <div class="mx-2 flex items-center">
                        <i class="fa-light fa-comments"></i>
                    </div>
                    <div>
                        <div class="">
                            <h3 class="sr-only">Reviews</h3>
                            <div class="flex items-center">
                                <div class="flex items-center">
                                    start
                                </div>
                                <p class="mx-2">{comic.rating} stars</p>
                                <a
                                        href="#"
                                        class="text-sm font-medium text-indigo-600 hover:text-indigo-500"
                                >
                                    {234} reviews
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex font-light">
                    <div class="mx-2 flex items-center">
                        <i class="fa-light fa-user-shield"></i>
                    </div>
                    <p class="text-red-600 font-medium" th:text="${comic.getAuthor()}">{comic.author}</p>
                </div>
                <div class="flex font-light">
                    <div class="mx-2 flex items-center">
                        <i class="fa-light fa-tags"></i>
                    </div>
                    <p>Action - Chuyển Sinh - Comedy - Live action - Manhua - Truyện Màu</p>
                </div>
                <div class="flex font-light">
                    <div class="mx-2 flex items-start">
                        <i class="fa-light fa-memo-pad"></i>
                    </div>
                    <div class="line-clamp-2">
                        <p th:text="${comic.getDescription()}">Cập nhật thứ 4 và chủ nhật hàng tuần] Nữ hài nghịch công
                            lược băng sơn tổng tài. Vườn trường ? Chức trường ? Tư muội ? Tôi đều có thể</p>
                        <p>Xem Thêm</p>
                    </div>
                </div>
                <!-- button -->
                <div class="flex flex-col sm:flex-row font-normal mt-4 justify-center sm:justify-start">
                    <div class="m-2" th:if="${comic.getChapters().size()} >= 1">
                        <a th:if="${comic.getChapters().size()} >= 1"
                           th:href="${comic.getTileSlug()} + '/chapter/' + ${comic.getChapters()[comic.getChapters().size()-1].getId()}">
                            <div class="p-2 bg-green-500 hover:bg-green-600 hover:scale-110 duration-300 ease-in-out rounded text-white">
                                Đọc Ngay
                            </div>
                        </a>
                    </div>
                    <div class="m-2" th:if="${comic.getChapters().size()} >= 1">
                        <a th:if="${comic.getChapters().size()} >= 1"
                           th:href="${comic.getTileSlug()} + '/chapter/' + ${comic.getChapters()[0].getId()}">
                            <div class="p-2 bg-transparent hover:scale-110 duration-300 ease-in-out rounded text-black dark:text-gray-300 flex items-center border border-red-500">
                                Chương Mới Nhất
                            </div>
                        </a>
                    </div>
                    <div class="m-2">
                        <form th:action="@{/comics/likes}" id="wishlist" method="post">
                            <input name="titleSlug" th:value="${comic.getTileSlug()}" hidden/>
                        </form>
                        <div>
                            <button th:if="${isLiked}" type="submit" form="wishlist"
                                    class="p-2 bg-transparent hover:scale-110 duration-300 ease-in-out rounded flex items-center border border-red-500">
                                <div class="mr-1 text-red-600 dark:text-red-300">
                                    <i class="fa-light fa-thumbs-up"></i>
                                </div>
                                <p class="text-red-600 dark:text-red-300">Liked</p>
                            </button>
                            <button th:unless="${isLiked}" type="submit" form="wishlist"
                                    class="p-2 bg-transparent hover:scale-110 duration-300 ease-in-out rounded flex items-center border border-red-500">
                                <div class="mr-1 text-black dark:text-gray-300">
                                    <i class="fa-light fa-thumbs-up"></i>
                                </div>
                                <p class="text-black dark:text-gray-300">Like</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- chapters -->
<section>
    <div class="mx-auto mt-6 max-w-4xl px-6 sm:max-w-7xl sm:px-8">
        <div class="flex w-full font-medium items-center border-b py-1">
            <i class="fa-sharp fa-light fa-list-timeline mr-2 text-red-500 fa-xl"></i>
            <p class="text-xl">Danh Sách Chương</p>
        </div>
        <div class="md:px-4 py-2">
            <div th:each="chapter: ${comic.getChapters()}">
                <a th:href="${comic.getTileSlug()} + '/chapter/' + ${chapter.getId()}">
                    <div class="grid grid-cols-4 gap-2 p-2 my-2 rounded shadow hover:scale-105 cursor-pointer duration-500 ease-in-out dark:shadow-gray-700">
                        <h1 class="flex items-center text-sm md:text-base col-span-2 md:col-auto"
                            th:text="${chapter.getTitle()}">Chapter 6</h1>
                        <div class="font-thin flex items-center"><i th:text="${chapter.getTimeAgo()}">a few seconds
                            ago</i></div>
                        <div class="flex items-center gap-2">
                            <p th:text="${chapter.getView()}">2</p>
                            <i class="fa-sharp fa-light fa-eyes"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- footer -->
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>