<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head
        th:replace="~{fragments/head :: head(
        title='Truyện Tranh Nổi Bật | BCuns Entertainment',
        description='Đọc truyện tranh online miễn phí tại trang web của BCuns Entertainment. Chúng tôi cung cấp cho bạn hàng ngàn tác phẩm truyện tranh từ các tác giả nổi tiếng nhất và nhiều thế loại như manga, manhua, manhwa. Tìm kiếm truyện tranh yêu thích của bạn dễ dàng với công cụ tìm kiếm tiên tiến của BCuns Entertainment và đọc truyện mọi lúc mọi nơi trên thiết bị di động của bạn. Đăng ký tài khoản để lưu trữ truyện yêu thích của bạn và tham gia vào cộng đồng truyện tranh của BCuns Entertainment. Hãy đến với BCuns Entertainment ngay hôm nay để khám phá thế giới truyện tranh đầy màu sắc và giải trí!',
        keywords='Truyện Tranh, BCuns Entertainment',
        url='https://bcent.online',
        image='https://vnw-img-cdn.popsww.com/api/v2/containers/file2/cms_assets/thumb_1920x1080__notext_-74b733a15710-1677820176303-e0UF4omJ.jpg?v=0&maxW=1400&format=webp',
        site_name='BCuns Entertainment'
        )}"
>
    <title>Title</title>
</head>
<body class="scrollbar-hidden bg-white dark:bg-slate-900">
<!-- header -->
<header th:replace="~{fragments/header :: header}"></header>

<!-- content -->
<!--<div th:each="item:${comics}">-->
<!--    <div th:each="like: ${item.getLike()}">-->
<!--        <p th:text="${like.getValue()}"></p>-->
<!--    </div>-->
<!--    <div th:text="${item.getLike().size()}">-->
<!--</div>-->
<section class="mt-20 p-4 sm:px-8">
    <div class="mx-auto max-w-2xl sm:px-2 lg:max-w-7xl lg:px-4">
        <!--    title -->
        <div class="py-4">
            <div class="flex items-center border-b pb-1">
                <i class="fa-thin fa-list-timeline" style="color: #ff0000;"></i>
                <a href="#"
                   class="flex items-center hover:text-red-500 dark:hover:text-red-500 text-black dark:text-white">
                    <h1 class="sm:text-xl font-medium mx-2">Truyện Tranh Nổi Bật</h1>
                    <i class="fa-light fa-angles-right fa-lg"></i>
                </a>
            </div>
        </div>
        <!--    list comics -->
        <div class="grid grid-cols-2 gap-y-10 gap-x-6 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 xl:gap-x-8 dark:text-slate-300">
            <div class="shadow dark:shadow-gray-700 rounded" th:each="item: ${comics}">
                <div class="group relative">
                    <!-- rating -->
                    <a href="#" class="flex items-center absolute px-1 bg-black/50 top-[10%] right-0 z-10 rounded-l">
                        <!--                        <p-->
                        <!--                                class={classs(-->
                        <!--                        'font-medium mx-1',-->
                        <!--                        rate >= 5 && 'text-amber-500 text-5xl',-->
                        <!--                        rate < 5 && rate >= 4 && 'text-rose-500 text-4xl',-->
                        <!--                        rate < 4 && rate >= 3 && 'text-green-500 text-2xl',-->
                        <!--                        rate < 3 && rate >= 2 && 'text-teal-500 text-xl',-->
                        <!--                        rate < 2 && rate >= 1 && 'text-sky-500 text-lg',-->
                        <!--                        rate < 1 && 'text-white text-base'-->
                        <!--                        )}-->
                        <!--                        >-->
                        <!--                        {rate}-->
                        <!--                        </p>-->
                        <p class="font-medium mx-1 text-amber-500 text-5xl">
                            5
                        </p>
                        <div class="text-amber-300 mx-1">
                            <i class="fa-light fa-star fa-lg" style="color: #ffeb0f;"></i>
                        </div>
                    </a>
                    <!-- image -->
                    <div class="h-60 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-t bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-72 xl:h-64">
                        <img th:src="${item.getThumbnails()}"
                             class="h-full w-full object-cover object-center lg:h-full lg:w-full group-hover:scale-110 duration-500 ease-in-out">
                    </div>
                    <div class="mt-3 px-2 mb-2">
                        <div class="flex">
                            <span th:text="${item.getTimeAgo()}" class="text-xs">{3 phút trước}</span>
                        </div>
                        <div>
                            <a th:href="'comics/' + ${item.getTitleSlug()}">
                                <span aria-hidden="true" class="absolute inset-0"></span>
                                <span class="hidden" th:text="${item.getTitle()}">{element.title}</span>
                            </a>
                            <h3 class="text-sm font-medium line-clamp-1 dark:text-white" th:text="${item.getTitle()}">
                                {element.title}
                            </h3>
                        </div>
                        <div class="flex justify-between mt-1">
                            <div class="flex items-center">
                                <i class="fa-light fa-file-image"></i>
                                <p th:text="${item.getCountChapter()}" class="text-sm font-light ml-1">123</p>
                            </div>
                            <div class="flex items-center">
                                <i class="fa-light fa-face-grin-hearts"></i>
                                <p th:if="${item.getLike() != null}" th:text="${item.getLike().size()}"
                                   class="text-sm font-light ml-1">123</p>
                                <p th:if="${item.getLike() == null}" class="text-sm font-light ml-1">0</p>
                            </div>
                            <div class="flex items-center">
                                <p th:text="${item.getView()}" class="text-sm font-light mr-1">123</p>
                                <i class="fa-light fa-face-hand-peeking"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--    pagination -->
        <div class="flex justify-center mt-12">
            <div class="flex rounded-md">
                <div>
                    <a
                            th:if="${currentPage > 0}"
                            th:href="'?page=' + ${currentPage - 1}"
                            class="text-black dark:text-white w-10 h-10 bg-white dark:bg-slate-800 hover:bg-slate-50 border-slate-300 dark:border-slate-400 mx-1 relative inline-flex items-center px-4 py-2 border text-sm font-medium dark:hover:bg-slate-700 rounded-l-md justify-center"
                    >
                        <i class="fa-light fa-chevron-left fa-lg"></i>
                    </a>
                </div>
                <!-- Page numbers -->
                <div th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">
                    <a
                            th:if="${pageNumber >= currentPage - 2 && pageNumber <= currentPage + 2}"
                            th:href="${pageNumber == currentPage} ? '#' : '?page=' + ${pageNumber}"
                            th:class="(${pageNumber == currentPage} ? 'text-red-500 bg-red-200 w-10 h-10 hover:bg-red-300' : 'text-black dark:text-white w-10 h-10 bg-white dark:bg-gray-800 hover:bg-gray-50 border-gray-300 dark:border-slate-400') + ' justify-center mx-1 relative inline-flex items-center px-4 py-2 border text-sm font-medium dark:hover:bg-gray-700'"
                            th:text="${pageNumber}"
                    >
                    </a>
                </div>
                <div>
                    <a
                            th:if="${currentPage < totalPages - 1}"
                            th:href="'?page=' + ${currentPage + 1}"
                            class="justify-center text-black dark:text-white w-10 h-10 bg-white dark:bg-gray-800 hover:bg-gray-50 border-gray-300 dark:border-slate-400 mx-1 relative inline-flex items-center px-4 py-2 border text-sm font-medium dark:hover:bg-gray-700 rounded-r-md"
                    >
                        <i class="fa-light fa-chevron-right fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer -->
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>