<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="header">
<header>
    <nav class="">
        <div class="fixed w-full animation_scroll z-20 dark:shadow-gray-700 transition duration-300 ease-in-out">
            <div class="mx-auto max-w-7xl px-6">
                <div class="flex items-center justify-between py-3 md:space-x-10">
                    <!-- logo -->
                    <div th:replace="~{fragments/components/header.menu :: logo}"></div>
                    <!-- menu -->
                    <div th:replace="~{fragments/components/header.menu :: headerMenu}"></div>
                    <!-- option button -->
                    <div th:replace="~{fragments/components/header.menu :: headerOptionBtn}"></div>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- mobile bar -->
<main th:replace="~{fragments/mobilebar :: mobilebar}"></main>
<!-- modal -->
<main th:replace="~{fragments/components/modals :: search}"></main>
</body>
</html>