<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragments/head :: head}">
    <title>Title</title>
</head>
<body>
<!-- header -->
<header th:replace="~{/fragments/header :: header}"></header>

<p>
    lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci alias asperiores atque autem
    consequatur consequuntur cumque cupiditate delectus doloremque doloribus ea earum eius eligendi eos error
    excepturi exercitationem explicabo facere fugiat fugit hic id illum impedit in incidunt ipsa ipsum iure
    laboriosam laborum laudantium libero magnam maxime minima minus molestiae mollitia natus nemo neque nihil nisi
    nobis non nostrum nulla numquam obcaecati officia officiis omnis optio pariatur perferendis perspiciatis
    praesentium provident quae quas quia quibusdam quisquam quo ratione recusandae rem repellat reprehenderit
    repudiandae rerum saepe sapiente sequi similique sit soluta sunt suscipit tempora temporibus tenetur totam
    ullam unde ut vel veniam veritatis voluptas voluptate voluptatem voluptates voluptatum. Accusamus adipisci alias
    asperiores atque autem consequatur consequuntur cumque cupiditate delectus doloremque doloribus ea earum eius
    eligendi eos error excepturi exercitationem explicabo facere fugiat fugit hic id illum impedit in incidunt ipsa
    ipsum iure laboriosam laborum laudantium libero magnam maxime minima minus molestiae mollitia natus nemo neque
    lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci alias asperiores atque autem
    consequatur consequuntur cumque cupiditate delectus doloremque doloribus ea earum eius eligendi eos error
    excepturi exercitationem explicabo facere fugiat fugit hic id illum impedit in incidunt ipsa ipsum iure
    laboriosam laborum laudantium libero magnam maxime minima minus molestiae mollitia natus nemo neque nihil nisi
    nobis non nostrum nulla numquam obcaecati officia officiis omnis optio pariatur perferendis perspiciatis
    praesentium provident quae quas quia quibusdam quisquam quo ratione recusandae rem repellat reprehenderit
    repudiandae rerum saepe sapiente sequi similique sit soluta sunt suscipit tempora temporibus tenetur totam
    ullam unde ut vel veniam veritatis voluptas voluptate voluptatem voluptates voluptatum. Accusamus adipisci alias
    asperiores atque autem consequatur consequuntur cumque cupiditate delectus doloremque doloribus ea earum eius
    eligendi eos error excepturi exercitationem explicabo facere fugiat fugit hic id illum impedit in incidunt ipsa
    ipsum iure laboriosam laborum laudantium libero magnam maxime minima minus molestiae mollitia natus nemo neque
    lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci alias asperiores atque autem
    consequatur consequuntur cumque cupiditate delectus doloremque doloribus ea earum eius eligendi eos error
    excepturi exercitationem explicabo facere fugiat fugit hic id illum impedit in incidunt ipsa ipsum iure
    laboriosam laborum laudantium libero magnam maxime minima minus molestiae mollitia natus nemo neque nihil nisi
    nobis non nostrum nulla numquam obcaecati officia officiis omnis optio pariatur perferendis perspiciatis
    praesentium provident quae quas quia quibusdam quisquam quo ratione recusandae rem repellat reprehenderit
    repudiandae rerum saepe sapiente sequi similique sit soluta sunt suscipit tempora temporibus tenetur totam
    ullam unde ut vel veniam veritatis voluptas voluptate voluptatem voluptates voluptatum. Accusamus adipisci alias
    asperiores atque autem consequatur consequuntur cumque cupiditate delectus doloremque doloribus ea earum eius
    eligendi eos error excepturi exercitationem explicabo facere fugiat fugit hic id illum impedit in incidunt ipsa
    ipsum iure laboriosam laborum laudantium libero magnam maxime minima minus molestiae mollitia natus nemo neque
    lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci alias asperiores atque autem
    consequatur consequuntur cumque cupiditate delectus doloremque doloribus ea earum eius eligendi eos error
    excepturi exercitationem explicabo facere fugiat fugit hic id illum impedit in incidunt ipsa ipsum iure
    laboriosam laborum laudantium libero magnam maxime minima minus molestiae mollitia natus nemo neque nihil nisi
    nobis non nostrum nulla numquam obcaecati officia officiis omnis optio pariatur perferendis perspiciatis
    praesentium provident quae quas quia quibusdam quisquam quo ratione recusandae rem repellat reprehenderit
    repudiandae rerum saepe sapiente sequi similique sit soluta sunt suscipit tempora temporibus tenetur totam
    ullam unde ut vel veniam veritatis voluptas voluptate voluptatem voluptates voluptatum. Accusamus adipisci alias
    asperiores atque autem consequatur consequuntur cumque cupiditate delectus doloremque doloribus ea earum eius
    eligendi eos error excepturi exercitationem explicabo facere fugiat fugit hic id illum impedit in incidunt ipsa
    ipsum iure laboriosam laborum laudantium libero magnam maxime minima minus molestiae mollitia natus nemo neque
    lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci alias asperiores atque autem
    consequatur consequuntur cumque cupiditate delectus doloremque doloribus ea earum eius eligendi eos error
    excepturi exercitationem explicabo facere fugiat fugit hic id illum impedit in incidunt ipsa ipsum iure
    laboriosam laborum laudantium libero magnam maxime minima minus molestiae mollitia natus nemo neque nihil nisi
    nobis non nostrum nulla numquam obcaecati officia officiis omnis optio pariatur perferendis perspiciatis
    praesentium provident quae quas quia quibusdam quisquam quo ratione recusandae rem repellat reprehenderit
    repudiandae rerum saepe sapiente sequi similique sit soluta sunt suscipit tempora temporibus tenetur totam
    ullam unde ut vel veniam veritatis voluptas voluptate voluptatem voluptates voluptatum. Accusamus adipisci alias
    asperiores atque autem consequatur consequuntur cumque cupiditate delectus doloremque doloribus ea earum eius
    eligendi eos error excepturi exercitationem explicabo facere fugiat fugit hic id illum impedit in incidunt ipsa
    ipsum iure laboriosam laborum laudantium libero magnam maxime minima minus molestiae mollitia natus nemo neque
    lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci alias asperiores atque autem
    consequatur consequuntur cumque cupiditate delectus doloremque doloribus ea earum eius eligendi eos error
    excepturi exercitationem explicabo facere fugiat fugit hic id illum impedit in incidunt ipsa ipsum iure
    laboriosam laborum laudantium libero magnam maxime minima minus molestiae mollitia natus nemo neque nihil nisi
    nobis non nostrum nulla numquam obcaecati officia officiis omnis optio pariatur perferendis perspiciatis
    praesentium provident quae quas quia quibusdam quisquam quo ratione recusandae rem repellat reprehenderit
    repudiandae rerum saepe sapiente sequi similique sit soluta sunt suscipit tempora temporibus tenetur totam
    ullam unde ut vel veniam veritatis voluptas voluptate voluptatem voluptates voluptatum. Accusamus adipisci alias
    asperiores atque autem consequatur consequuntur cumque cupiditate delectus doloremque doloribus ea earum eius
    eligendi eos error excepturi exercitationem explicabo facere fugiat fugit hic id illum impedit in incidunt ipsa
    ipsum iure laboriosam laborum laudantium libero magnam maxime minima minus molestiae mollitia natus nemo neque
    lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci alias asperiores atque autem
    consequatur consequuntur cumque cupiditate delectus doloremque doloribus ea earum eius eligendi eos error
    excepturi exercitationem explicabo facere fugiat fugit hic id illum impedit in incidunt ipsa ipsum iure
    laboriosam laborum laudantium libero magnam maxime minima minus molestiae mollitia natus nemo neque nihil nisi
    nobis non nostrum nulla numquam obcaecati officia officiis omnis optio pariatur perferendis perspiciatis
    praesentium provident quae quas quia quibusdam quisquam quo ratione recusandae rem repellat reprehenderit
    repudiandae rerum saepe sapiente sequi similique sit soluta sunt suscipit tempora temporibus tenetur totam
    ullam unde ut vel veniam veritatis voluptas voluptate voluptatem voluptates voluptatum. Accusamus adipisci alias
    asperiores atque autem consequatur consequuntur cumque cupiditate delectus doloremque doloribus ea earum eius
    eligendi eos error excepturi exercitationem explicabo facere fugiat fugit hic id illum impedit in incidunt ipsa
    ipsum iure laboriosam laborum laudantium libero magnam maxime minima minus molestiae mollitia natus nemo neque
</p>

<!-- footer -->
<footer th:replace="~{/fragments/footer :: footer}"></footer>
</body>
</html>