<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="navbar">
<nav class="h-20">
    <div class="fixed w-full animation_scroll z-20 bg-white/90 dark:bg-gray-800/90 dark:shadow-gray-700 shadow">
        <div class="mx-auto max-w-7xl px-6">
            <div class="flex items-center justify-between py-3 md:space-x-10">
                <!-- logo -->
                <div class="">
                    <a href="/">
                        <span class="sr-only text-2xl">Your Company</span>
                        <img class="h-8 w-8 sm:w-10 sm:h-10 max-w-none rounded" th:src="@{/images/BC.png}"
                             alt="BCuns"/>
                    </a>
                </div>
                <div>
                    <!--    button-->
                    <div class="flex justify-center my-2 gap-4">
                        <a class="shadow p-1 rounded" th:href="${comic.getSlugChapterPrev(chapter)}">
                            <i class="fa-light fa-angles-left fa-xl text-red-500"></i>
                        </a>
                        <button
                                id="openModalBtn"
                                class="shadow py-1 px-2 rounded font-bold text-xl"
                                th:text="${chapter.getTitle()}">
                            1
                        </button>
                        <a class="shadow p-1 rounded" th:href="${comic.getSlugChapterNext(chapter)}">
                            <i class="fa-light fa-angles-right fa-xl text-red-500"></i>
                        </a>
                    </div>
                </div>
                <div class="flex gap-2">
                    <button class="p-2 hover:bg-gray-50 hover:text-green-500 rounded">
                        <i class="fa-light fa-magnifying-glass fa-lg"></i>
                    </button>
                    <button class="p-2 hover:bg-gray-50 hover:text-green-500 rounded">
                        <i class="fa-light fa-user fa-lg"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- modal -->
<div id="myModal" class="modal hidden overflow-y-auto h-screen inset-0 z-30">
    <div id="chapter-modal" class="flex justify-center items-center py-8 bg-gray-400/50 transition ease-in-out duration-100 opacity-0">
        <div id="chapter-list" class="bg-white p-4 rounded shadow max-w-4xl transition ease-in-out duration-300 opacity-0">
            <div class="flex justify-end">
                <button class="close">
                    <i class="fa-light fa-xmark"></i>
                    Close
                </button>
            </div>
            <div class="max-w-4xl h-3/4">
                <div class="flex w-full font-medium items-center border-b py-1">
                    <i class="fa-sharp fa-light fa-list-timeline mr-2 text-red-500 fa-xl"></i>
                    <p class="text-xl">Danh Sách Chương</p>
                </div>
                <div class="md:px-4 py-2">
                    <div th:each="chap: ${comic.getChapters()}">
                        <a th:href="'/comics/' + ${comic.getTileSlug()} + '/chapter/' + ${chap.getId()}">
                            <div th:id="${chapter.getId() == chap.getId() ? 'chapter-active' : ''}" class="grid grid-cols-4 gap-2 p-2 my-2 rounded shadow hover:scale-105 cursor-pointer duration-500 ease-in-out dark:shadow-gray-700">
                                <h1 class="flex items-center text-sm md:text-base col-span-2 md:col-auto"
                                    th:text="${chap.getTitle()}">Chapter 6</h1>
                                <div class="font-thin flex items-center"><i th:text="${chap.getTimeAgo()}">a few
                                    seconds
                                    ago</i></div>
                                <div class="flex items-center gap-2">
                                    <p th:text="${chap.getView()}">2</p>
                                    <i class="fa-sharp fa-light fa-eyes"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- modal.js -->
<script>
    // modal.js
    document.addEventListener('DOMContentLoaded', function () {
        const modal = document.getElementById('myModal');
        const openModalBtn = document.getElementById('openModalBtn');
        const closeBtn = document.querySelector('.close');
        const chapterModal = document.getElementById('chapter-modal');
        const chapterList = document.getElementById('chapter-list');
        const chapterActive = document.getElementById('chapter-active');

        const handleOpenModal = function () {
            modal.classList.remove('hidden')
            modal.classList.add('fixed')
            setTimeout(function () {
                chapterModal.classList.remove('opacity-0')
                chapterModal.classList.add('opacity-100')
                chapterList.classList.remove('opacity-0')
                chapterList.classList.add('opacity-100')
            }, 100)
            chapterActive.scrollIntoView({behavior: "smooth", block: "center", inline: "nearest"});
            chapterActive.classList.add('bg-red-200')
        }
        const handleCloseModal = function () {
            chapterList.classList.remove('opacity-100')
            chapterList.classList.add('opacity-0')
            setTimeout(function () {
                chapterModal.classList.remove('opacity-100')
                chapterModal.classList.add('opacity-0')
            }, 200)
            setTimeout(function () {
                modal.classList.remove('fixed')
                modal.classList.add('hidden')
            }, 400)
        }

        // Khi người dùng nhấn nút "Open Modal"
        openModalBtn.addEventListener('click', handleOpenModal);

        // Khi người dùng nhấn nút đóng modal
        closeBtn.addEventListener('click', handleCloseModal);

        // Khi người dùng nhấn bất kỳ đâu ngoài modal, modal cũng sẽ đóng
        window.addEventListener('click', function (event) {
            if (event.target === chapterModal) {
                handleCloseModal()
            }
        });
        // Thêm sự kiện "popstate" để theo dõi thay đổi trong lịch sử duyệt
        window.addEventListener('popstate', function (event) {
            // Kiểm tra xem modal có đang mở hay không
            if (modal.style.display === 'flex') {
                modal.classList.remove('flex')
                modal.classList.add('hidden')
            }
        });
    });

</script>

<!-- animation navbar hidden-->
<script>
    $(document).ready(function () {
        var isScrollDown = false;

        var lastScrollTop = 0;
        $(window).scroll(function () {
            var currentScrollTop = $(this).scrollTop();
            if (currentScrollTop > lastScrollTop) {
                isScrollDown = true;
            } else {
                isScrollDown = false;
            }
            lastScrollTop = currentScrollTop;

            updateScrollClass();
        });

        function updateScrollClass() {
            var $div = $('.animation_scroll');

            if (isScrollDown) {
                $div.addClass('is_scroll');
                $div.removeClass('shadow');
            } else {
                $div.removeClass('is_scroll');
                $div.addClass('shadow');
            }
        }
    });
</script>
</body>
</html>