<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title='Forgot Password | BCENT')}">
    <title>Forgot Password</title>
</head>
<body class="scrollbar-hidden bg-white dark:bg-slate-900">
<!-- header -->
<header th:replace="~{fragments/header :: header}"></header>
<!-- form forgot password -->
<div class="mt-20 dark:text-white">
    Trang này chưa có làm nha!!
</div>
<!-- footer -->
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>