<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title='Login Account | BCENT')}">
    <title>Login</title>
</head>
<body>
<!-- header -->
<header th:replace="~{fragments/header :: header}"></header>
<!-- form login -->
<main class="px-4 sm:px-8">
    <div class="my-8 m-auto p-4 w-full sm:w-[80%] md:w-[60%] lg:w-[40%] xl:w-[30%]">
        <div th:if="${param.logout}" class="py-2 justify-center">
            <p class="text-green-600">You have been logged out.</p>
        </div>
        <div th:if="${registerSuccess}" class="py-2 justify-center">
            <p th:text="${registerSuccess}" class="text-green-600">messed</p>
        </div>
        <div th:if="${errorRegister}" class="py-2 justify-center">
            <p th:text="${errorRegister}" class="text-red-600">messed</p>
        </div>
        <div class="shadow p-8 rounded-md dark:shadow-gray-700">
            <div class="flex items-center">
                <div class="mr-2 bg-green-600 p-2 rounded-full text-white">
                    <i class="fa-sharp fa-light fa-person-through-window"></i>
                </div>
                <h1 class="text-2xl font-medium">Wellcome to BCENT</h1>
            </div>
            <div>
                <p class="my-3 font-light">Sign in today for BCENT</p>
            </div>
            <!-- form -->
            <form th:action="@{/login}" th:object="${user}" method="post">
                <div><label for="username" class="">User Name</label>
                    <div class="my-2">
                        <input type="text"
                               th:field="*{username}"
                               id="username"
                               required
                               th:value="${user.username}"
                               class="w-full px-4 py-2 shadow rounded focus:outline-green-600 "
                               placeholder="Your username"/>
                    </div>
                </div>
                <div><label for="password" class="">Password</label>
                    <div class="my-2">
                        <input type="password"
                               th:field="*{password}"
                               id="password"
                               required
                               class="w-full px-4 py-2 shadow rounded focus:outline-green-600 "
                               placeholder="Your password"/>
                    </div>
                </div>
                <!-- error -->
                <div th:if="${param.error}" class="py-2 justify-center">
                    <p class="text-red-600 underline text-sm">Invalid username and password.</p>
                </div>
                <div class="py-2">
                    <button type="submit"
                            class="flex w-full py-2 rounded shadow bg-green-500 hover:bg-green-600 text-white justify-center items-center gap-4">
                        <i class="fa-light fa-fingerprint"></i>
                        <span>Login</span>
                    </button>
                </div>
            </form>
            <div class="py-2 flex justify-center">
                <a class="text-gray-500 hover:text-gray-400 underline text-sm" href="/forgot-password">
                    Forgot your password?
                </a>
            </div>
            <div class="py-2 flex justify-center">
                <a class="text-gray-500 hover:text-gray-400 underline text-sm" href="/register">
                    Don't have an account? Sign up
                </a>
            </div>
        </div>
    </div>
</main>
<!-- footer -->
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>